span {
    text-decoration: line-through;
    /*  закреслює текст  тега спан */
}

.text {
    text-indent: 100px;
    /*  відступ рядка абзацу на 100 пікселів */
    line-height: 1.7;
    /* міжрядковий інтервал абзацу на 1.7 пікселів*/
}

.link {
    text-shadow: 2px 2px 4px red;
    /*  червона тінь  текста посилання */
}